@media screen and (min-width: 1180px) {

    /* Ваши стили для больших экранов здесь */
    .desktop,
    .desktop * {
        box-sizing: border-box;
        margin: 0 auto;
    }

    .desktop {
        background: #ffffff;
        width: 1440px;
        height: 1500px;

        position: center;

        overflow: hidden;
        margin: 0 auto;
    }

    footer {
        bottom: 0;
        color: #707070;
        height: 2em;
        left: 0;
        position: relative;
        font-size: small;
        width: 100%;

    }

    .group-6 {
        position: absolute;
        bottom: 0px;
        inset: 0;

    }

    .mask-group {
        width: 100%;
        height: 274px;
        min-width: 1300px;
        position: absolute;
        bottom: 0px;

        overflow: visible;
    }

    .group-12 {
        width: 763px;
        height: 109px;

        position: absolute;
        right: 47%;
        bottom: 0px;
    }

    .s1 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 1121px;
        left: 179px;
        bottom: 127px;

        width: 150px;
        height: 25px;
    }

    .s2 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 915px;
        left: 385px;
        bottom: 127px;

        width: 150px;
        height: 25px;
    }

    .s3 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 725px;
        left: 575px;
        bottom: 127px;

        width: 150px;
        height: 25px;
    }

    .s4 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 498px;
        left: 802px;
        bottom: 127px;

        width: 150px;
        height: 25px;
    }

    .s5 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 1192px;
        left: 179px;
        bottom: 85px;

        width: 150px;
        height: 25px;
    }

    .s6 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 929px;
        left: 385px;
        bottom: 85px;

        width: 150px;
        height: 25px;
    }

    .s7 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 764px;
        left: 575px;
        bottom: 85px;

        width: 150px;
        height: 25px;
    }

    .s8 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 546px;
        left: 802px;
        bottom: 85px;

        width: 150px;
        height: 25px;
    }

    .s9 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 1139px;
        left: 179px;
        bottom: 169px;

        width: 150px;
        height: 25px;
    }

    .s10 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 933px;
        left: 385px;
        bottom: 169px;

        width: 150px;
        height: 25px;
    }

    .s11 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 743px;
        left: 575px;
        bottom: 169px;

        width: 150px;
        height: 25px;
    }

    .s12 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 516px;
        left: 802px;
        bottom: 169px;

        width: 150px;
        height: 25px;
    }

    .group-13 {
        width: 768px;
        height: 29px;

        position: absolute;
        right: 47%;
        bottom: 0px;

    }

    .s13 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 24px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 1120px;
        left: 179px;
        bottom: 211px;

        width: 150px;
    }

    .s14 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 24px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 931px;
        left: 385px;
        bottom: 211px;

        width: 150px;
    }

    .s15 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 24px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 703px;
        left: 575px;
        bottom: 211px;
        width: 150px;

    }

    .s16 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 24px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 493px;
        left: 802px;
        bottom: 211px;
        width: 150px;

    }

    .group-11 {
        width: 763px;
        height: 109px;

        position: absolute;
        right: 47%;
        bottom: 0px;
    }

    .socials {
        width: 40px;
        height: 40px;

        position: absolute;
        left: 1026px;
        bottom: 215px;

        overflow: visible;
    }

    .socials2 {
        width: 40px;
        height: 40px;

        position: absolute;
        left: 1026px;
        bottom: 166px;

        overflow: visible;
    }

    .socials3 {
        width: 40px;
        height: 40px;

        position: absolute;
        left: 1026px;
        bottom: 68px;

        overflow: visible;
    }

    .socials4 {
        width: 40px;
        height: 40px;

        position: absolute;
        left: 1026px;
        bottom: 19px;

        overflow: visible;
    }

    .socials5 {
        width: 40px;
        height: 40px;

        position: absolute;
        left: 1025px;
        bottom: 117px;

        overflow: visible;
    }

    .desinsect {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 24px 'Inter-Medium', sans-serif;

        position: absolute;
        left: 1087px;
        bottom: 221px;

        width: 141px;
        height: 29px;
    }

    .vk-com-club {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 24px 'Inter-Medium', sans-serif;

        position: absolute;
        left: 1087px;
        bottom: 172px;

        width: 141px;
        height: 29px;
    }

    .link1 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 24px 'Inter-Medium', sans-serif;
    }

    .desinsect2 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 24px 'Inter-Medium', sans-serif;

        position: absolute;
        left: 1087px;
        bottom: 123px;

        width: 141px;
        height: 29px;
    }

    ._7-777-777-77-77 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 24px 'Inter-Medium', sans-serif;

        position: absolute;
        left: 1087px;
        bottom: 74px;

        width: 203px;
        height: 29px;
    }

    ._7-777-777-77-772 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: left;
        font: 500 24px 'Inter-Medium', sans-serif;

        position: absolute;
        left: 1087px;
        bottom: 25px;

        width: 204px;
        height: 29px;
    }

    .group-4 {

        position: absolute;
        inset: 0;

    }

    .mask-group2 {
        width: 296.07px;
        height: 261px;

        position: static;

    }

    .rectangle-16 {
        background: #dddddd;
        border-radius: 25px;
        height: 261px;

        position: absolute;
        right: 4.17%;
        left: 75.27%;
        width: 20.56%;
        top: 713px;

    }

    .image-8 {
        height: 261px;
        object-fit: cover;
        position: absolute;
        right: 4.17%;
        left: 75.28%;
        width: 20.56%;
        top: 713px;
        border-radius: 25px;
    }

    .rectangle-152 {
        background: #dddddd;
        border-radius: 25px;
        height: 261px;

        position: absolute;
        right: 27.87%;
        left: 51.57%;
        width: 20.56%;
        top: 713px;

    }

    .image-7 {
        width: 296px;
        height: 261px;
        object-fit: cover;
        position: absolute;
        right: 27.87%;
        left: 51.57%;
        width: 20.56%;
        top: 713px;
        border-radius: 25px;
    }

    .rectangle-142 {
        background: #dddddd;
        border-radius: 25px;
        height: 261px;

        position: absolute;
        right: 51.57%;
        left: 27.87%;
        width: 20.56%;
        top: 713px;

    }

    .image-6 {
        height: 261px;
        object-fit: cover;
        position: absolute;
        right: 51.6%;
        left: 27.85%;
        width: 20.56%;
        top: 713px;
        border-radius: 25px;
    }

    .rectangle-132 {
        background: #dddddd;
        border-radius: 25px;
        height: 261px;

        position: absolute;
        right: 75.27%;
        left: 4.17%;
        width: 20.56%;
        top: 713px;

    }

    .image-5 {
        height: 261px;
        object-fit: cover;
        position: absolute;
        right: 75.35%;
        left: 4.17%;
        width: 20.56%;
        top: 713px;
        border-radius: 25px;
    }

    .s17 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: center;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 54.85%;
        left: 31.15%;
        width: 14%;
        top: 909px;

        height: 36px;
    }

    .s18 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: center;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 30.87%;
        left: 54.58%;
        width: 14.55%;
        top: 908px;

        height: 44px;
    }

    .s19 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: center;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 6.15%;
        left: 77.32%;
        width: 16.53%;
        top: 909px;

        height: 62px;
    }

    .s20 {
        color: #000000;
        text-align: left;
        font: 500 36px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 80.14%;
        left: 5.28%;
        width: 50%;
        top: 647px;

    }

    .s21 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: center;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 78.83%;
        left: 7.72%;
        width: 13.46%;
        top: 903px;

        height: 46px;
    }

    .group-10 {

        position: absolute;
        inset: 0;

    }

    .mask-group3 {
        width: 564px;
        height: 217px;

        position: static;

    }

    .rectangle-10 {
        background: #dddddd;
        border-radius: 25px;
        height: 217px;

        position: absolute;
        right: 4.17%;
        left: 56.67%;
        width: 39.17%;
        top: 190px;

    }

    .image-2 {
        height: 217px;
        object-fit: cover;
        position: absolute;
        right: 4.17%;
        left: 56.67%;
        width: 39.17%;
        top: 190px;
        border-radius: 25px;
    }

    .mask-group4 {
        width: 264.27px;
        height: 192px;

        position: static;

    }

    .rectangle-122 {
        background: #dddddd;
        border-radius: 25px;
        height: 192px;

        position: absolute;
        right: 4.51%;
        left: 77.13%;
        width: 18.35%;
        top: 433px;

    }

    .image-3 {
        height: 192px;
        object-fit: cover;
        position: absolute;
        right: 4.51%;
        left: 77.13%;
        width: 18.35%;
        top: 433px;
        border-radius: 25px;
    }

    .rectangle-11 {
        background: #dddddd;
        border-radius: 25px;
        height: 192px;

        position: absolute;
        right: 24.98%;
        left: 56.67%;
        width: 18.35%;
        top: 433px;

    }

    .image-4 {
        height: 192px;
        object-fit: cover;
        position: absolute;
        right: 24.98%;
        left: 56.67%;
        width: 18.35%;
        top: 433px;
        border-radius: 25px;
    }

    .group-8 {

        position: absolute;
        inset: 0;

    }

    .mask-group5 {
        width: 730px;
        height: 435px;

        position: static;

    }

    .rectangle-2 {
        background: #dddddd;
        border-radius: 25px;
        height: 435px;

        position: absolute;
        right: 45.14%;
        left: 4.17%;
        width: 50.69%;
        top: 190px;

    }

    .image-1 {
        height: 435px;
        object-fit: cover;
        position: absolute;
        right: 45.14%;
        left: 4.17%;
        width: 50.69%;
        top: 190px;
        border-radius: 25px;
    }

    .s22 {
        color: #dcc7ce;
        text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black,
            0 -2px black, -1.41px -1.41px black, -2px 0 black,
            -1.41px 1.41px black, 0 2px black;
        text-align: center;
        font: 400 30px 'Inter-Regular', sans-serif;

        position: absolute;
        right: 45.14%;
        left: 4.17%;
        width: 50.69%;
        top: 560px;
    }

    .group-3 {

        position: absolute;
        inset: 0;

    }

    .rectangle-18 {
        background: rgba(95, 0, 34, 0.22);
        border-radius: 10px;
        height: 34px;

        position: absolute;
        right: 80.93%;
        left: 4.17%;
        width: 14.9%;
        top: 134px;

    }

    .rectangle-19 {
        background: rgba(95, 0, 34, 0.22);
        border-radius: 10px;
        height: 34px;

        position: absolute;
        right: 61.65%;
        left: 23.45%;
        width: 14.9%;
        top: 134px;

    }

    .rectangle-20 {
        background: rgba(95, 0, 34, 0.22);
        border-radius: 10px;
        height: 34px;

        position: absolute;
        right: 42.3%;
        left: 42.8%;
        width: 14.9%;
        top: 134px;

    }

    .rectangle-21 {
        background: rgba(95, 0, 34, 0.22);
        border-radius: 10px;
        height: 34px;

        position: absolute;
        right: 23.02%;
        left: 62.08%;
        width: 14.9%;
        top: 134px;

    }

    .rectangle-212 {
        background: rgba(95, 0, 34, 0.22);
        border-radius: 10px;
        height: 34px;

        position: absolute;
        right: 4.17%;
        left: 80.93%;
        width: 14.9%;
        top: 134px;

    }

    .s23 {
        color: #000000;
        text-align: center;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 82.3%;
        left: 4%;
        width: 15%;
        top: 138px;

        height: 27px;
    }

    .s24 {
        color: #000000;
        text-align: center;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 64%;
        left: 23.5%;
        width: 15%;
        top: 138px;

        height: 22px;
    }

    .s25 {
        color: #000000;
        text-align: center;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 44.19%;
        left: 43%;
        width: 15%;
        top: 138px;

        height: 19px;
    }

    .s26 {
        color: #000000;
        text-align: center;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 26.1%;
        left: 63.5%;
        width: 12%;
        top: 138px;

        height: 27px;
    }

    .s27 {
        color: #000000;
        text-align: center;
        font: 500 20px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 8.44%;
        left: 83.5%;
        width: 10%;
        top: 138px;

        height: 21px;
    }

    .group-7 {

        position: absolute;
        inset: 0;

    }

    .rectangle-22 {
        background: rgba(95, 0, 34, 0.54);
        border-radius: 10px;
        height: 41px;

        position: absolute;
        right: 4.51%;
        left: 81.81%;
        width: 13.68%;
        top: 72px;

    }

    .rectangle-23 {
        background: rgba(95, 0, 34, 0.54);
        border-radius: 10px;
        height: 41px;

        position: absolute;
        right: 4.51%;
        left: 81.81%;
        width: 13.68%;
        top: 16px;

    }

    .s28 {
        color: #000000;
        text-align: center;
        font: 500 24px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 5.97%;
        left: 83.33%;
        width: 10.69%;
        top: 78px;

        height: 24px;
    }

    .s29 {
        color: #000000;
        text-align: center;
        font: 500 24px 'Inter-Medium', sans-serif;

        position: absolute;
        right: 7%;
        left: 83.2%;
        width: 10.69%;
        top: 22px;

        height: 24px;
    }

    .group-2 {

        position: absolute;
        inset: 0;

    }

    .rectangle-17 {
        background: #ffffff;
        border-radius: 10px;

        border-style: solid;

        border-color: #000000;

        border-width: 0.3px;

        height: 35px;

        position: absolute;
        right: 25%;
        left: 25%;
        top: 78px;

    }

    .frame-946 {

        display: flex;

        flex-direction: column;

        gap: 0px;

        align-items: center;

        justify-content: flex-start;


        width: 33.45px;
        height: 21px;

        position: absolute;
        right: 45%;
        left: 0%;
        top: 84px;

    }

    .search {
        padding: 3px 0px 0px 4px;
        flex-shrink: 0;
        width: 24px;
        height: 24px;

        position: relative;

    }

    .search2 {
        height: auto;

        position: absolute;
        right: 12.75%;
        left: 7.21%;
        width: 80.04%;
        bottom: 14.38%;
        top: 8.34%;
        height: 77.29%;

        overflow: visible;
    }

    .group-9 {

        position: absolute;
        inset: 0;

    }

    .s30 {
        color: #000000;
        text-align: left;
        font: 600 20px 'Inter-SemiBold', sans-serif;

        position: absolute;
        right: 74.34%;
        left: 21.74%;
        width: 5%;
        top: 30px;

    }

    .s31 {
        color: #000000;
        text-align: left;
        font: 600 20px 'Inter-SemiBold', sans-serif;

        position: absolute;
        right: 56.55%;
        left: 29.23%;
        width: 15%;
        top: 30px;

    }

    .s32 {
        color: #000000;
        text-align: left;
        font: 600 20px 'Inter-SemiBold', sans-serif;

        position: absolute;
        right: 39.46%;
        left: 47.02%;
        width: 15%;
        top: 30px;

    }

    .s33 {
        color: #000000;
        text-align: left;
        font: 600 20px 'Inter-SemiBold', sans-serif;

        position: absolute;
        right: 30.15%;
        left: 64.11%;
        width: 5.74%;
        top: 30px;

    }

    .s34 {
        color: #000000;
        text-align: left;
        font: 600 20px 'Inter-SemiBold', sans-serif;

        position: absolute;
        right: 20.9%;
        left: 73.42%;
        width: 5.67%;
        top: 30px;

    }

    .group-5 {

        position: absolute;
        inset: 0;

    }

    .desinsect3 {
        color: #5f0022;
        text-align: left;
        font: 700 36px 'Inter-Bold', sans-serif;

        position: absolute;
        left: 5%;
        right: 87%;
        top: 70px;

        width: 90px;
        height: 19px;

    }

    .s35 {
        color: #000000;
        text-align: left;
        font: 500 16px 'Inter-Medium', sans-serif;

        position: absolute;
        left: 10%;
        top: 33px;

        width: 90px;
        height: 19px;
    }

    .geo {
        padding: 3px 0px 0px 3px;
        width: 24px;
        height: 24px;

        position: absolute;
        left: calc(10% - 30px);
        top: 29px;

        overflow: visible;
    }
}